    body{
            font-family:'Microsoft YaHei';
        }
        #footer{
            width:100%;
            height:150px;
            background:#ffd5b7;
            display:table;
            position:absolute;
            
        }
        #footer div#footercontent{
            color:#fff;
            font-size:2em;
            text-align:center;
            vertical-align:middle;
            display:table-cell;
        }
        .box-size-border
        {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        #header{
            width:100%;
            min-height:200px;
            max-height:300px;
            display:table;
            float:left;
            position:fixed;
            top:0;
            z-index:2001;
        }
        #headercontent
        {
            width: 100%;
            height: 200px;
            /*background: #c5e6fe;*/
            background:linear-gradient(top,  #7db9e8 0%, #fff 100%);
            background:-moz-linear-gradient(top,  #7db9e8 0%, #fff 100%);
            background:-webkit-linear-gradient(top,  #7db9e8 0%, #fff 100%);
            
            color: #808080;
            display: table;
            font-size: 3em;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            
        }
        #Content{
            width:100%;
            min-height:800px;
            /*background-color:#d8eecf;*/
            padding-top:200px;
            clear:both;
            position:relative;
            top:auto;
        }
        #showpic{
            width:100%;
            min-height:500px;
            
        }
        #showpic > div{
            width:80%;
            margin:0 auto;
            min-height:300px;
            background-color:#ffef99;
           
        }
        #ShowArea{
            width:100%;
            min-height:400px;
            /*padding-top:50px;*/
        }
        .divtable
        {
            display:table;
        }
        .divtable-row
        {
            display:table-row;
        }
        .divtable-cell{
            display:table-cell;
        }
        #ShowArea > div
        {
            width:80%;
            margin:0 auto;
        }
        .width33p{
            width:33.33%;
            height:300px;
            text-align:center;
            vertical-align:middle;
            
        }
            /*.width33p:nth-child(2n+1)
            {
                background-color:#ecc0ff;
            }
            .width33p:nth-child(2n+2)
            {
                 background-color:#cbd3ff;
            }*/
        .test1
        {
            border-radius: 50% 50% 50% 50%;
            width: 175px;
            height: 175px;
            margin: 0 auto;
            display: table-cell;
            vertical-align: middle;
            
        }
        
        a.taghref{
            border-radius: 50% 50% 50% 50%;
            display:block;
            text-decoration:none;
            color:#808080;
            font-size:20px;
            -moz-transition: background-color 0.5s,border 0.5s;
            -webkit-transition: background-color 0.5s,border 0.5s;
            -o-transition: background-color 0.5s,border 0.5s;
            transition: background-color 0.5s,border 0.5s;
            background: #cbd3ff;
        }
            a.taghref:hover
            {
                -moz-transform: scale(1.5);
                -ms-transform: scale(1.5);
                -webkit-transform: scale(1.5);
                -o-transform: scale(1.5);
                transform: scale(1.5);
                /* */
                border-radius: 50% 50% 50% 50%;
                background: #ffb0b0;
                color:#fff;
                font-size:30px;
            }
            .text-align-right{
                text-align:right;
            }
            ::selection{
                background-color:#b5b5b5;
                color:white;
            }
            ::-moz-selection{
                background-color:#b5b5b5;
                color:white;
            }