body {
    margin:0px;
    /*font-family:'Lao UI';*/
    font-family:'Buxton Sketch','Microsoft YaHei';
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
h1{
    font-size:5em;
}
h2{
    font-size:4em;
}
h3{
    font-size:3em;
}
h4{
    font-size:2em;
}
h5{
    font-size:1em;
}
.text-align-center{
    text-align:center;
}

.fint-size-1em{
    font-size:1em;
}

.fint-size-2em{
    font-size:2em;
}

.fint-size-3em{
    font-size:3em;
}

.fint-size-4em{
    font-size:4em;
}

.fint-size-5em{
    font-size:5em;
}
header#header{
    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:#86c7f6;
    padding:10px;
    
}
#header div{
    width:100%;
    display:table;
}
#header div#logo{
    width:50%;
    font-size:7em;
    display:table-cell;
    padding-left:2.5em;
    /*color:#000;*/
    color:#fff;
}
nav#menu{
    position:absolute;
    width:50%;
    display:table-cell;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    top:5em;
}
#menu ul{
    
    width:100%;
    float:left;
}
    #menu ul li
    {
        float: left;
        width: 15%;
        padding-left: 1em;
        font-size:24px;
        line-height:2em;
         position: relative;

    }
        #menu ul li a
        {
            text-decoration:none;
            display:block;
            color:#fff;
        }
        #menu ul li :hover >ul
        {
            display:block;
        }
        #menu ul li :hover >ul li
        {
            display:block;
        }

    #menu ul#menu-ul li:hover > .nav-li ul
    {
        position: absolute;
        display: block;
        background: rgba(0,70,128,0.7);
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

                #menu ul#menu-ul li .nav-li ul {
                    display: none;width:100%;
                }
                    #menu ul#menu-ul li .nav-li ul li {
                        float: left;
                        width:150px;
                        line-height:3em;
                    }
                    #menu ul#menu-ul li .nav-li ul li  a{
                        color:#fff;
                    }


        .nav-li {
            position: absolute;
            top: 100%;
            width:0px;
            left:0px;
            -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;

        }







article#content{
    padding:0px;
}

#background-image
{
    width:100%;
}
#background-image img
{
    width:100%;
}


.divTable{
    display:table;
}

.divTableRow{
    display:table-row;
}

.divTableCell{
    display:table-cell;
}

.box-size-border{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.width100{
    width:100%;
}
.width50{
    width:50%;
}

.width80{
    width:80%;
}


footer#footer{
    width:100%;
    font-size:24px;
    background:rgba(0,0,0,0.8);
    color:#fff;
    text-align:center;
    margin-bottom:0px;
    height:auto;
}

.padding-2em{
    padding:1em;
}

#smamenu{
    float:left;
}

#smamenu ul{
    padding-top:1em;
}

#smamenu ul li{
    float:left;
}
#smamenu ul li a{
    color:#fff;
    text-decoration:none;
    padding-left:1.5em;
    
}

.lineheight-2em{
    line-height:2em;
}

.lineheight-4em{
    line-height:4em;
}


.padding-4em{
    padding:4em;
}


.margin-top-2em{
    margin-top:2em;
}

.margin-top-4em{
    margin-top:4em;
    
}

.border-radius-2em
{
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.border-top-radius-2em
{
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.border-bottom-radius-2em
{
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

.border-solid-2px{
    border:2px solid #808080;
    
}


.background-color-green{
    background-color:#7cd357;
}
.background-color-blue{
    background-color:#86c7f6;
}

.background-color-purple{
    background-color:#d880ff;
}


.background-color-yellow{
    background-color:#f7ea9f;
}

.color-yellow{
    color:#f7ea9f;
}

.color-green{
    color:#7cd357;
}
.color-blue{
    color:#86c7f6;
}

.color-purple{
    color:#d880ff;
}
.color-gray{
    color:#808080;
    
}

a{
    text-decoration:none;
}
.black-center{
    margin:0 auto;
}

.height-4em{
    height:4em;
}
.height-6em{
    height:6em;
}

.height-10em{
    height:10em;
}

.height-15em{
    height:15em;
}
.height-20em{
    height:20em;
}